h1 {
    text-align: center;
}

.container {
margin: 0 auto;
font-size: 1.5em;
border: 1px solid gray;
max-width: 400px;
display: flex;
}

.item {
    background-color: tomato;
    margin: 5px;
    text-align: center;
    font-weight: bold;
    flex: 1;
}

.nowrap {
    flex-wrap: nowrap;
}

.wrap {
    flex-wrap: wrap;
}

.wrap-reverse {
    flex-wrap: wrap-reverse;
}