h1 {
    text-align: center;
}

.container {
margin: 0 auto;
font-size: 1.5em;
border: 1px solid gray;
max-width: 400px;
display: flex;
flex-wrap: wrap;
}

.item {
    background-color: tomato;
    margin: 5px;
    text-align: center;
    font-weight: bold;
}

.basis-auto {
    flex-grow: 1;
	flex-basis: auto;
}

.basis-auto-grow-2 {
    flex-grow: 2;
    flex-basis: auto;
}

.basis-auto-width {
    flex-grow: 1;
    flex-basis: auto;
    width: 60px;
}

.basis-auto-grow-0 {
    flex-grow: 0;
    flex-basis: auto;
}

.basis-0 {
    flex-grow: 1;
    flex-basis: 0;
}

.basis-0-grow-2 {
    flex-grow: 2;
	flex-basis: 0;
}

.basis-0-width {
    flex-grow: 1;
	flex-basis: 0;
	width: 120px; /*Ignora o width colocado, mas considera o min-width*/
	min-width: 80px;
}

.basis-0-grow-0 {
    flex-basis: 0;
}

.basis-numero-container {
    flex-wrap: wrap;
}

.basis-110 {
    flex-basis: 110px;
}

.basis-300 {
    flex-basis: 300px;
}

.basis-110-porcento {
    flex-basis: calc(25% - 10px);
}

.basis-110-grow-1 {
    flex-grow: 1;
	flex-basis: 110px;
}

.basis-600-grow-1 {
    flex-grow: 1;
	flex-basis: 600px;
}